@import "libs/normalize";
@import "libs/fonts";
@import "libs/slick";
@import "libs/animations";

@import "base/variables";
@import "base/mixins";
@import "base/animations";

@import "blocks/header";
@import "blocks/promo";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/consulting";
@import "blocks/title";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/product-card";
@import "blocks/reviews";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/pageup";
@import "base/media";

* {
    font-family: MuseoSansCyrl, serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-weight: 300;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
