.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 43px;
  input {
    margin: 0;
    height: 54px;
    border: none;
    border-radius: 5px;
    background: #FFFFFF;
    margin-top: 15px;
    padding: 20px;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    color: #4B4B4B;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &-mt-25 {
    margin-top: 25px;
  }
}
